
nav.navbar {
  margin-bottom:0;
    margin-top:0;

}

.navbar-right{
	background-color: transparent;
}
.nav>li {
    position: relative;
    display: block;
    padding-top:10px;
    background-color: transparent;
}
.navbar-default .navbar-brand {
    color: white;
}
.signup-btn{
    color: white;
    background-color: #5cb85c;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
    margin-top: 5px;
    color: white;
}

.navbar-default {
background-color: #6cbf6c;
    //border-bottom:  solid #6cbf6c;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:0px !important; 
    padding-bottom:0px !important;
    height: 40px;
}

.sidebar-nav{
	margin-top:80px;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 50px;
    font-size: medium;
}
.floating-box {
    box-sizing: border-box;
    display: inline-block;
    width: 20%;
    height: 30px;
    margin: 5px;
}
.well {
    background-color: white;
    border: 0px;
}

