<!DOCTYPE html>
<html>
<head>
	<title>GradeBook</title>
	<link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' rel='stylesheet'>
	<link href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css' rel='stylesheet'>
	<link href='/custom/home.css' rel='stylesheet'>

</head>
<body>
	<nav class='navbar navbar-default navbar-static-top'>
		<div class='container'>
			<div class='navbar-header'>
				<button class='navbar-toggle collapsed' data-toggle='collapse' type='button'>
					<span class='sr-only'>Toggle navigation</span> <span class='icon-bar'></span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
				</button>
					<span><a class='navbar-brand' href='/' rel='home'>
					<img src='/img/gradeBookBlack.png' style='max-height:50px; margin-right: 2px;'> GradeBook</a></span>
			</div>
			<div class='navbar-collapse collapse' >
				<ul class='nav navbar-nav navbar-right'>
					<li class='active signup-btn'>
						<a class='signup' href='/signup'>Signup</a>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div><!--/.container-fluid -->
	</nav>
	<div class='container-fluid breadcrumb'>
		<div class='row'>
			<div class='col-lg-6 text-center'>
				<h1>GradeBook</h1>
				<h3>Help teachers to manager students' grade</h3>
			</div>
			<div class='col-lg-6'>
				<!-- LOGIN FORM -->
				<div class='panel panel-default transparent'>
					<div class='panel-body transparent'>
						<h2>Login</h2><%if (message.length > 0) { %>
						<div class='alert alert-danger'>
							<%= message %>
						</div><%} %>
						<form action='/login' method='post'>
							<div class='form-group'>
								<label>Email/username</label> <input class='form-control' value='demo' name='email' type='text'>
							</div>
							<div class='form-group'>
								<label>Password</label> <input class='form-control' value='demo1234' name='password' type='password'>
							</div><button class='btn btn-primary btn pull-right' type='submit'>Login</button>
							<p>Need an account? <a href='/signup' style='color:white'>Signup</a></p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src='/js/jquery.min.js'>
	</script>
	<script src='/js/bootstrap.min.js'>
	</script>
</body>
</html>
