<!DOCTYPE html>
<html>
<head>
	<title>Grade book</title>
	<link href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css' rel='stylesheet'>
	<link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' rel='stylesheet'>
	<link href='//cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css' rel='stylesheet'>
	<link href='//cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css' rel='stylesheet'>
	<link href='/custom/simple-sidebar.css' rel='stylesheet'>
	<link href='/custom/custom-nav.css' rel='stylesheet'>
</head>
<body>
	<nav class='navbar navbar-default navbar-fixed-top'>
		<div class='container'>
			<div class='navbar-header'>
				<button class='navbar-toggle collapsed' data-target='#navbar8' data-toggle='collapse' type='button'><span class='sr-only'>Toggle navigation</span> <span class='icon-bar'></span> <span class='icon-bar'></span> <span class='icon-bar'></span></button> <a class='navbar-brand' href='#' rel='home'><img src='/img/gradeBookBlack.png' style='max-height:50px; margin-right: 2px;'> GradeBook</a>
			</div>
			<div class='navbar-collapse collapse' id='navbar8'>
				<ul class='nav navbar-nav navbar-right'>
					<li class='active'>
						<a class='signup' href='/Logout'>Logout</a>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div><!--/.container-fluid -->
	</nav>
	<div id='wrapper'>
		<!-- Sidebar -->
		<div id='sidebar-wrapper'>
			<ul class='sidebar-nav'>
				<li>
					<a href='/studentList'>Student List</a>
				</li>
				<li>
					<a href='/testStat'>Test Statistic</a>
				</li>
				<li>
					<a href='/addTest'>Add Test Score</a>
				</li>
			</ul>
		</div><!-- /#sidebar-wrapper -->
		<!-- /#sidebar-wrapper -->
		<!-- Page Content -->
		<div id='page-content-wrapper'>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col-lg-12'>
            <a class='btn btn-default' href='#menu-toggle' id='menu-toggle'><i class='fa fa-arrows-h'></i></a>


						<h1 class='text-center' style='color:grey'>Test Statistics</h1>
						<table class='testTable table table-striped' id='testDT'>
							<thead>
								<tr>
									<th>Test Number</th>
									<th>Average Score</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<%for(i=0; i < stat.length; i++) { %>
								<tr>
									<td class='name'><%= stat[i].testId %></td>
									<td><%= stat[i].avg.toFixed(2) %></td>
									<td><button class='btn btn-default js-test-stat' data-id='<%=stat[i].testId%>'><span class='fa fa-bar-chart-o'></span> Chart</button></td>
									<td><button class='btn btn-default js-test-edit' data-id='<%=stat[i].testId%>'><span class='fa fa-pencil-square-o'></span> Edit</button></td>
								</tr><%} %>
							</tbody>
						</table>
					</div>
				</div>
				<!-- Modal -->
				<div aria-hidden='true' aria-labelledby='myModalLabel' class='modal fade' id='statChart' role='dialog' tabindex='-1'>
					<div class='modal-dialog'>
						<div class='modal-content'>
							<!-- Modal Header -->
							<form class='form-horizontal' id='progress' name='progress' role='form'>
								<div class='modal-header'>
									<button class='close' data-dismiss='modal' type='button'><span aria-hidden='true'>&times;</span> <span class='sr-only'>Close</span></button>
									<h4 class='modal-title' id='testStatLabel'></h4>
								</div><!-- Modal Body -->
								<div class='modal-body'>
									<div id='curve_chart' style='width: 900px; height: 500px'></div>
								</div><!-- Modal Footer -->
								<div class='modal-footer'>
									<button class='btn btn-default' data-dismiss='modal' type='button'>Close</button>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div aria-hidden='true' class='modal fade' id='editTest' role='dialog' tabindex='-1'>
					<div class='modal-dialog'>
						<div class='modal-content'>
							<!-- Modal Header -->



							<form class='form-horizontal' id='progress' name='progress' role='form'>
								<div class='modal-header'>
									<button class='close' data-dismiss='modal' type='button'><span aria-hidden='true'>&times;</span> <span class='sr-only'>Close</span></button>
									<h4 class='modal-title' id='testEditLabel'></h4>
								</div><!-- Modal Body -->
								<div class='modal-body'>
							  <div class='well'>



								<table class='editTestTable table table-striped' id='editTestTable'>
							<thead>
								<tr>
									<th>Name</th>
									<th>Score</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							<div class='testEditWell'>

							</div>

							</tbody>
						</table>
								</div><!-- Modal Footer -->
								<div class='modal-footer'>
									<button class='btn btn-default' data-dismiss='modal' type='button'>Close</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<script src='/js/jquery.min.js'>
				</script>
				<script src='/js/bootstrap.min.js'>
				</script>
				<link href='//cdn.datatables.net/1.10.13/css/jquery.dataTables.css' rel='stylesheet' type='text/css'>
				<script charset='utf8' src='//cdn.datatables.net/1.10.13/js/jquery.dataTables.js' type='text/javascript'>
				</script>
				<script charset='utf8' src='//cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js' type='text/javascript'>
				</script>

				<script src='https://www.gstatic.com/charts/loader.js' type='text/javascript'>
				</script>
				<script src='//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/js/bootstrapValidator.min.js' type='text/javascript'>
				</script>
				<script src='//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js'></script>
				<script src='/js/testStat.js'>
				</script>
			</div>
		</div>
	</div>
</body>
</html>
